.app {
  text-align: center;
}

h1 {
  margin: 20px 0;
  font-size: 30px;
  color: #333;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.carousel-container {
  max-width: 1000px; /* Increase the value to take more space */
  margin: 0 auto;
  animation: fadeIn 1s ease-in-out;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Increase the height to make the carousel taller */
  background-color: #f5f5f5; /* Add a background color */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.upload-container {
  margin-top: 30px;
}

.file-input {
  display: none;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.custom-button:hover {
  background-color: #0056b3;
}

.selected-image {
  margin-top: 10px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.file-input {
  display: none;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.custom-button:hover {
  background-color: #0056b3;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
